footer { 
	text-align: center; 
	a {
        img { 
        width: 50px;	 
        }
    }

    center {
        align-self: center;
        align-items: center;
        align-content: center;
        text-align: center;   
    } 
    
}