//Estilos de Titulos Usando Varibles
/* Estilos de Titulos */
h1 {
    font-family: $Fuente;
    font-size: 2em;
    color: #14130e;
    font-style: italic;
    font-weight: bold;
  }
  
  h2 {
    font-family: $Fuente;
    font-size: 1.5em;
    color: #14130e;
    font-weight: bold;
  }
  
  h3 {
    font-family: $Fuente;
    font-size: 1em;
    color: #14130e;
    font-weight: bold;
  }
  
  p {
    font-family: $Fuente;
    color: #14130e;
    margin-top: 10;
    text-align: justify;
  }
  

  .AjusteVideo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    
        iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) ;
        width: 90%;
        height: 90%;
    
        }
    }